:root {
  font-family: roboto;
  line-height: 1.5;
  font-weight: 400;
  flex: 1;
  color-scheme: light dark;
  
  background-color: black !important;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Added universal modifications to html elements that is universally applicable to the rest of the project. */
html,body{
  margin:0;
  padding:0;
  height: 100vh;
  background-repeat: no-repeat !important;
  background: linear-gradient(#242424 75%, rgb(0, 0, 0));
  background-color: rgb(56, 58, 64) !important;
}

a{
  text-decoration: none;
  color: white;
}
p{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.accordion{
  --bs-accordion-bg: rgb(56, 58, 64);
  --bs-accordion-color: rgb(53, 195, 247);
  --bs-accordion-btn-color:rgb(53, 195, 247);
  --bs-accordion-border-color:rgb(53, 195, 247);
}