:root {
  font-family: roboto;
  line-height: 1.5;
  font-weight: 400;
  flex: 1;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6{
  font-family: Georgia, 'Times New Roman', Times, serif;
}