:root {
  font-family: roboto;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424 !important;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,body{
  margin:0;
  padding:0;
  background-color: #242424 !important;
}
h1{
  color: rgb(41, 207, 207);
}
a{
  text-decoration: none;
  color: white;
}
.btn-bd-info{
  --bs-btn-color: rgb(41, 207, 207);
}
.accordion{
  margin-bottom: 20px;
  --bs-accordion-color: rgb(41, 207, 207);
  --bs-accordion-btn-color: rgb(41, 207, 207);
  --bs-accordion-bg: #151515;
  --bs-accordion-btn-bg: #151515;
  --bs-accordion-active-bg: #151515;
  --bs-accordion-active-color: rgb(41, 207, 207);
  --bs-accordion-border-color: rgb(41, 207, 207);
}