.about-title{
    margin-top: 20px;
    color: rgb(41, 207, 207);
    font-size: 48px;
    border-style: solid;
    border-width: 0 0 3px 0;
    border-color: rgb(41, 207, 207);
    margin-bottom: 20px;
}
