.art-gallery-properties{
    color: rgb(41, 207, 207);
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #151515;
    margin-bottom: 20px;
    
    border-radius: 5px;
}
.art-gallery-properties h2 h4{
    color: rgb(41, 207, 207);
}
.art-gallery-properties img{
    cursor: pointer;
    transition: all 0.3s ease;
}
.art-gallery-properties:hover img{
    padding: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(197, 211, 211);
    border-width: 2px;
}
.img-title{
    margin-top: 20px;
}
.gallery-title{
    color: rgb(41, 207, 207);
    margin-top: 20px;
    font-size: 48px;
    border-style: solid;
    border-width: 0 0 3px 0;
    border-color: rgb(41, 207, 207);
    margin-bottom: 20px;
}
.dropdown-item{
    cursor: pointer;
}
.error-message{
    font-size: 32px;
    color: rgb(224, 88, 133);
}
.missing-art-message{
    font-size: 32px;
    color: rgb(224, 88, 133);
}