.art-gallery-properties{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #151515;
    margin-bottom: 20px;
    
   
}

.art-gallery-properties div{
    cursor: pointer;
    width: 100%;
    transition: all 0.3s ease;
}
.art-gallery-properties:hover div{
    padding: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(32, 32, 32);
    border-width: 4px;
}
.img-title{
    margin-top: 20px;
}
.gallery-title{
    color: rgb(41, 207, 207);
    margin-top: 20px;
    font-size: 48px;
    border-style: solid;
    border-width: 0 0 3px 0;
    border-color: rgb(41, 207, 207);
    margin-bottom: 20px;
}
.dropdown-item{
    cursor: pointer;
}
.error-message{
    font-size: 32px;
    color: rgb(224, 88, 133);
}
.missing-art-message{
    font-size: 32px;
    color: rgb(224, 88, 133);
}
.selected-artwork-container{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

.selected-artwork-description{
    display: flex;
    flex-direction: column;
}
.selected-artwork-description span{
    font-size: 64px;
}
.description-container{
    border-style: solid;
    border-width: 2px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    overflow: scroll;
    background-color: #000000;
}
.description-title{
    width: 100%;
    height: auto;
    font-size: 24px;
    color: black;
    
}

.description-content{
    padding: 10px;
}

.selected-artwork-container .col img {
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 450px;
    object-fit: cover; 
}
@media(max-width: 720px){
    .selected-artwork-container .col img {
        max-height: 100%;
        min-width: 250px;
    }
    .selected-artwork-description span{
        font-size: 32px;
    }
    
    
}
