

.intro-container-bg{
    padding: 20px;
    
}
.intro-title{
    margin-top: 80px;
    
}

.intro-content div{
   
    color: rgb(41, 207, 207);
   
}
@media(max-width: 720px){
    .intro-container-bg{
        flex-direction: column;
    }
}