#navbar-items a {
    text-decoration: none;
}

@media(max-width: 720px) {

    .btn {
        width: 100%;
        --bs-btn-font-size: 12px;
        margin-bottom: 20px;

    }

    .navbar-logo {
        text-align: center;

        font-size: 32px;
        margin-bottom: 10px;
        margin: 10px;
    }
}