.navbar-logo{
    color: rgb(41, 207, 207);
    cursor: pointer;
    border-radius: 5px;
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 32px;
    transition: all 0.3s ease;

}
.navbar-logo:hover{
    background-color: rgb(41, 207, 207);
    color: black;
}

.navbar{
    background-color: transparent;
    display: flex;
    align-items: center;
}
.navbar-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-items div{
    margin-right: 20px;
} 
@media(max-width: 720px){
    .navbar{
        flex-direction: column;
    }
    .navbar-items{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        border-radius: 0;
    }
    .navbar-items div{
        width: 90vw;
        border-radius: 0;
        margin: 0;
    }
    .btn{
        width: 100%;
        --bs-btn-font-size: 12px;
        margin-bottom: 20px;
        
    }
    .navbar-logo{
        text-align: center;
        
        font-size: 32px;
        margin-bottom: 10px;
        margin: 10px;
    }
}